[core]
	excludesfile = ~/.gitignore_global
[ghq]
	root = ~/repos
[init]
	defaultBranch = main
[credential]
	helper = /usr/share/git/credential/netrc/git-credential-netrc.perl
[user]
	signingkey = A62CC42736387011C65138B840A7518878FDA639
[commit]
	gpgsign = true
