name: CI

on: [push]

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh
      - name: "Test for the 'dot' commands"
        run: ./test.fish

  centos:
    runs-on: ubuntu-latest
    container: centos:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh
      - name: "Test for the 'dot' commands"
        run: ./test.fish

  archlinux:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh
      - name: "Test for the 'dot' commands"
        run: ./test.fish

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install dotfiles
        run: bin/install.sh
      - name: "Test for the 'dot' commands"
        run: ./test.fish
